
<div class="ontaicner-fluid">
  <div class="row">
  <div class="col-md-4">
   
  </div>
  <div class="col-md-4" style=" text-align: center; height: 300px;">
    <img style="height: 300px; width: fit-content;" src="https://i.pinimg.com/originals/a6/ba/66/a6ba66c96903688369e592bac1c68755.jpg" alt="">
  </div>
  </div>
</div>
<div class="container-fluid" style="height: 50px; background-color: rgb(227, 236, 94); text-align: justify;">
  <nav>
  <button class="btn btn-outline-secondary" routerLink="/">Home</button>
  <button  type="button" class="btn btn-outline-secondary" routerLink="/fetch-food">Food</button>
  <button  type="button" class="btn btn-outline-secondary" routerLink="/fetch-drink">Drinks</button>
  <button class="btn btn-outline-secondary" routerLink="/signup">Sign Up</button>
  <button class="btn btn-outline-secondary" routerLink="/login">Login</button>
</nav>
</div>
<!-- <app-login (message)="recieve($event)"></app-login> -->
<router-outlet></router-outlet>
